.dark {
  background-color: #2d313a; 
  /* #0c0f15; */
}
.dark .page-home .overlay {
  background-color: rgba(68, 68, 68, 0.97);
  background-image: url('../img/usbackground.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  opacity: .2;
  /* rgba(14, 17, 24, 0.97); */
}
.dark .page-title h2 {
  color: #ffffff;
}
.dark .page-title .title-bg {
  color: rgba(70, 88, 124, 0.06);
}
.dark .section-title h3::before {
  background-color: #fff;
}
